APP_NAME="Intranet"
APP_ENV="production"
APP_KEY=base64:... # php artisan key:generate --show
APP_DEBUG="false"
APP_URL="https://intranet-production.up.railway.app" # tu URL

DB_CONNECTION="pgsql"
DB_HOST="postgres.railway.internal"
DB_PORT="5612" # Replace with your Railway PostgreSQL port
DB_DATABASE="railway"
DB_USERNAME="postgres"
DB_PASSWORD="gmnpdHgwnhGifXnoUlzUOQBwPdojHbdr"

SESSION_DRIVER="file"
SESSION_LIFETIME=120

CACHE_DRIVER="file"
QUEUE_CONNECTION="sync"
