APP_NAME="Intranet"
APP_ENV="production"
APP_KEY=base64:Sbw0shQPDtUkx6n7e1BsiK+wER+wM6ZgGrRV8dHMy6Y=
APP_DEBUG="false"
APP_URL=https://intranet-margube.up.railway.app

DB_CONNECTION=pgsql
DB_HOST=postgres.railway.internal
DB_PORT=5432
DB_DATABASE=railway
DB_USERNAME=postgres
DB_PASSWORD=gmnpdHgwnhGifXnoUlzUOQBwPdojHbdr

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
